*{
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
}
#body{
    background-color: hsl(204, 43%, 93%);
    width: 40%;
    margin: 10% auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(185, 184, 184);
}
#top{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: white;
    padding: 30px;
}
h3{
    color:hsl(179, 58%, 50%) ;
    font-size: medium;
}
h3+h4{
    color:hsl(71, 73%, 54%);
}
#top p{
    color:hsl(210, 3%, 27%);
    font-weight: lighter;
    padding-left: 10px;
}
#left{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color:hsl(179, 62%, 43%);
    padding: 20px;
}
#left p{
    line-height: 20px;
    margin:0px 10px;
    font-weight: lighter;
}
span{
    font-size: 20px;
    font-weight: bold;
}
button{
    padding: 10px;
    width: 90%;
    margin:10px 0px 0px 10px;
    background-color:hsl(71, 73%, 54%);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px hsl(179, 58%, 50%);
    color: white;
}
#right{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: hsl(179, 58%, 50%);
    padding: 20px;
}
#right>p{
    line-height: 20px;
    font-weight: lighter;
    padding-left: 10px;
}
h4{
    font-size: smaller;
    margin-bottom: 5px;
}
footer{
    grid-column-start: 1;
    grid-column-end: 5;
    color: black;
    margin-top: 10px;
}
.attribution { 
    font-size: 15px; 
    text-align: center;
 }
.attribution a { 
        color: hsl(228, 45%, 44%);
}